.upper-container1 {
  display: block;
  margin-top: 40px;
  margin-left: 55px;
  font-size: 30px;
}
#tasks {
  font-weight: bold;
  color: black;
}
.circle i {
  font-size: 30px;
  color: red;
  margin-left: 25%;
  padding-top: 10px;
}
span {
  color: grey;
}
.back {
  color: gray;
  font-size: 35px;
}
.card {
  border: 1.5px solid pink;
  height: 50vh;
  width: 15%;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 10px pink;
  display: inline-block;
  margin-left: 65px;
  margin-top: 30px;
}
.div1 {
  position: absolute;
  top: 10%;
  right: 0;
  font-size: 30px;
  text-align: center;
  height: 15%;
  color: pink;
  border-bottom: 1px solid pink;
  padding-right: 30px;
}
.div2 {
  position: absolute;
  top: 10%;
  font-size: 25px;
  text-align: center;
  color: red;
  margin-top: 90px;
  padding-left: 35px;
  text-decoration: line-through;
}
.div3 {
  color: black;
  margin-top: 180px;
  font-size: 22px;
  font-style: normal;
  padding-left: 10px;
}
.btn1{
  margin-left: 18%;
  margin-top: 4%;
}
a{
  padding-left: 10%;
  color: gray;
  font-size: 35px;
}
.upper-container2 {
  display: block;
  margin-top: 50px;
  margin-left: 32%;
  font-size: 30px;
}
.leftarrow i {
  margin-top: 25px;
  font-size: 35px;
  margin-left: 25%;
  color: red;
}
.card1 {
  border: 1.5px solid pink;
  height: 40vh;
  width: 20%;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 10px pink;
  display: inline-block;
  margin-left: 28%;
  margin-top: 30px;
}

#tasks2 {
  font-weight: bold;
  color: black;
  font-size: 35px;
  max-width: 500px;
  position: relative;
}
#tasks2::before {
  content: "";
  width: 120px;
  height: 2px;
  display: block;
  background-color: black;
  position: absolute;
  top: 20px;
  left: -65%;
}
#tasks2::after {
  content: "";
  width: 120px;
  height: 2px;
  display: block;
  background-color: black;
  position: absolute;
  top: 20px;
  right: -65%;
}
.plus i {
  padding-top: 45px;
  padding-left: 73%;
  font-size: 40px;
  color: red;
}
.btn2{
  margin-left: 26%;
  margin-top: 6%;
}
a{
  padding-left: 15%;
  color: gray;
  font-size: 35px;
}

.notshow {
  filter: blur(5px);
}
.popup {
  width: 30%;
  height: 30vh;
  position: absolute;
  top: 150px;
  justify-content: center;
  border: 2px solid pink;
  border-radius: 15px;
  margin-left: 14%;
  display: inline;
  background-color: white;
}
.popup h1 {
  font-weight: lighter;
  font-size: 28px;
  color: red;
  text-align: center;
  margin-top: 10%;
}

.popup input {
  margin-top: 20px;
  margin-left: 100px;
  width: 50%;
  border: 2px solid pink;
}

.card input {
  width: 9%;
  border: 2px solid pink;
}

.popup button {
  border-radius: 30px;
  color: white;
  background-color: red;
  font-size: 20px;
  display: block;
  margin-top: 30px;
  margin-left: 185px;
  padding: 5px 10px;
}
.popup1 {
  width: 30%;
  height: 30vh;
  position: absolute;
  top: 150px;
  justify-content: center;
  border: 2px solid pink;
  border-radius: 15px;
  margin-left: 23%;
  display: inline;
  background-color: white;
}
.popup1 input {
  margin-top: 20px;
  margin-left: 100px;
  width: 50%;
  border: 2px solid pink;
}
.popup1 button {
  border-radius: 30px;
  color: white;
  background-color: red;
  font-size: 20px;
  display: block;
  margin-top: 30px;
  margin-left: 185px;
  padding: 5px 10px;
}
.popup1 h1 {
  font-weight: lighter;
  font-size: 28px;
  color: red;
  text-align: center;
  margin-top: 10%;
}
.btn{
  margin-left: 15%;
  margin-top: 2%;
}
a{
  padding-left: 10%;
  color: gray;
  font-size: 35px;
  text-decoration: none;
}
/* starting media qeury */
/* page 1 */
@media (max-width: 600px) {
  .upper-container1 {
    margin-left: 5px;
    font-size: 7vh;
  }
  .addlist {
    display: none;
  }
  .circle i {
    margin-left: 2%;
    font-size: 35px;
  }

  .card {
    width: 80%;
    height: 10vh;
    margin-left: 2%;
    margin-top: 10%;
  }

  .div2 {
    display: none;
  }
  .div3 {
    display: none;
  }
  .div1 {
    margin-left: 2vh;
    border-bottom: none;
    right: unset;
    margin-top: 3px;
  }
  .btn1{
    margin-left: 28%;
    margin-top: 28%;
  }
  a{
    padding-left: 15%;
    color: gray;
    font-size: 35px;
  }
  /* page 2 */
  .upper-container2 {
    margin-top: 30px;
    display: inline-block;
    margin-left: 110px;
    position: absolute;
  }
  .card1 {
    height: 60vh;
    width: 65vw;
    margin-left: 18%;
    margin-top: 20%;
  }
  #tasks2::before {
    content: none;
  }
  #tasks2::after {
    display: none;
  }
  .back {
    display: none;
  }
  .leftarrow i {
    margin-left: 5px;
    margin-top: 35px;
  }
  .card1 .div1 {
    border-bottom: 1px solid pink;
    margin-left: 46px;
  }
  .card1 .div2 {
    display: block;
  }
  .card1 .div3 {
    display: block;
  }
  .plus i {
    padding-left: 62%;
    padding-top: 55%;
  }
  .btn2{
    margin-left: 28%;
    margin-top: 10%;
  }
  a{
    padding-left: 15%;
    color: gray;
    font-size: 35px;
  }
  /* page 3 & 4 */
  .popup {
    margin-left: 7%;
    width: 80vw;
    margin-top: 20%;
  }
  .popup input {
    margin-left: 9%;
    width: 65vw;
    margin-top: unset;
  }
  .popup button {
    margin-left: 110px;
    padding: 5px 15px;
    margin-top: 20px;
  }
  .popup1 {
    margin-left: 7%;
    width: 80vw;
    margin-top: 20%;
  }
  .popup1 input {
    margin-left: 9%;
    width: 65vw;
    margin-top: unset;
  }
  .popup1 button {
    margin-left: 110px;
    padding: 5px 15px;
    margin-top: 20px;
  }
  .btn{
    margin-left: 28%;
    margin-top: 10%;
  }
  a{
    padding-left: 15%;
    color: gray;
    font-size: 35px;
  }
}
